/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

*{
    font-family: "PT Sans", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    padding: 100px;
    /* background-color: rgb(122, 206, 227); */
    display: flex;
    justify-content: center;
}
.box{
    text-align: start;
    color: rgb(27, 25, 28);
}
h1{
    text-align: center;
    color: rgb(212, 40, 40);
}
p{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 400px;
    height: 40px;
    padding: 10px;
    margin-top: 40px;
    background-color: rgb(251, 218, 215);
    border: 2px solid rgb(170, 133, 129);

}

/* img{
    width: 250px;
    margin-top: 30px
} */
#img{
    height: auto;
    margin-block:10px;
}
.img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

select{
    width: 400px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(251, 218, 215);
    border: 2px solid rgb(170, 133, 129);
}

button{
    width: 120px;
    height: 35px;
    margin-top: 50px;
    background-color: rgb(212, 40, 40);
    color: aliceblue;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all;
}
button:hover{
    background-color: rgb(245, 32, 32);
    color: rgb(196, 189, 189);
}



@media (max-width:750px) {
    .container{
      width: 100%;
      height: auto;
      margin: 0;
      padding: 50px;
    }
  }